.page {
  margin: 0 auto;
  max-width: 1100px;
  & > {
    * + * {
      margin-top: 2em;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 1em;
}
