@import "./variable.scss";

@mixin outward-shadow(
  $outward-up: $default-outward-up-shadow,
  $outward-down: $default-outward-down-shadow
) {
  box-shadow: 12px 12px 16px 0 $outward-down, -8px -8px 10px 0 $outward-up;
}

@mixin inward-shadow(
  $inward-up: $default-inward-up-shadow,
  $inward-down: $default-inward-down-shadow
) {
  box-shadow: inset 6px 6px 10px 0 $inward-down,
    inset -6px -6px 10px 0 $inward-up;
}

@mixin neomorphic-button(
  $width,
  $height,
  $border-radius: 1em,
  $outward-up: $default-outward-up-shadow,
  $outward-down: $default-outward-down-shadow,
  $inward-up: $default-inward-up-shadow,
  $inward-down: $default-inward-down-shadow
) {
  overflow: hidden;
  border: none;
  border-radius: $border-radius;
  font-size: 1rem;
  &:focus {
    outline: none;
  }
  background: $background;
  @include outward-shadow($outward-up, $outward-down);
  // box-shadow: 12px 12px 16px 0 $outward-down, -8px -8px 10px 0 $outward-up;

  &:hover {
    @include inward-shadow($inward-up, $inward-down);
  }

  width: $width;
  height: $height;
}
