@import "./neomorphic-button.scss";

.shopButton {
  @include neomorphic-button(2em, 2em);
}

.test {
  @include neomorphic-button(2em, 2em);
  background: #e3e6ec;
  box-shadow: -6px -6px 20px #ffffff, 6px 6px 20px #d1d9e6;

  &:hover {
    box-shadow: inset 6px 6px 10px 0 #d1d9e6 , inset -6px -6px 10px 0 #ffffff;
  }
}
