$background: #cecece;
$color: #777;

$up-shadow: #fff;
$down-shadow: #d1d9e6;

$notification: #358b8d;
$error: #bf4247;

// neomorphism variables
$default-outward-up-shadow: #ffffff4d;
$default-outward-down-shadow: #00000040;
$default-inward-up-shadow: #ffffff80;
$default-inward-down-shadow: #00000033;